<section class="section herotext">
<h2 id="daten">Zahlen, Daten, Faken</h2>
<table>
  <tr>
    <th>Fläche Grundstück</th><td>733qm</td>
  </tr>
  <tr>
    <th>Wohnfläche Erdgeschoss</th><td>97qm</td>
  </tr>
  <tr>
    <th>Wohnfläche Dachgeschoss</th><td>88qm</td>
  </tr>
  <tr>
    <th>Fenster</th><td>Doppelverglaste Holzfenster</td>
  </tr>
  <tr>
    <th>Heizung</th><td>Gaszentralheizung</td>
  </tr>
  <tr>
    <th>Baujahr</th><td>1974</td>
  </tr>
  <tr>
    <th>Sanierung</th><td>2020/21</td>
  </tr>
  <tr>
    <th>Kaltmiete pro Monat</th><td>1.300€</td>
  </tr>
  <tr>
    <th>Bezugsfertig</th><td>sofort</td>
  </tr>
</table>
</section>