<div class="section herotext">
<p>Dieses hübsche Haus mit wundervollem Ausblick und einer riesigen angrenzenden Wiese sucht neue, nette und unkomplizierte Mieter:innen. Wir haben das Haus vor drei Jahren komplett saniert und es ist einem sehr guten Zustand. Inzwischen ist es auch im sanierten Zustand erprobt, doch (leider) haben die aktuellen Bewohner:innen ein eigenes Haus erworben.</p>

{% assign prefix = "haus-" %}
<ul class="gallery" id="{{prefix}}links">
{% assign image_files = site.static_files | where: "image", true %}
{% for image in image_files %}
  {% if image.name contains prefix %}
    <li class="gallery__item is16by9">
      <a href="{{ site.baseurl }}{{ image.path | replace: "small", "large" }}" title="{{ image.name }}">
        <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}" />
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

</div>