<div class="section herotext">
<p>Wir haben ein halbes Jahr Tapeten abgerissen, Böden entfernt, Bäder saniert, gespachtelt, gestrichen, geschliffen, abgeklebt, lackiert, montiert, ab und zu ein bisschen gejammert und jetzt ist endlich alles fertig und bereit zum Einzug. Das Einzige was noch fehlt ist ein*e passende*r Mieter*in.   </p>

{% assign prefix = "haus-" %}
<ul class="gallery" id="{{prefix}}links">
{% assign image_files = site.static_files | where: "image", true %}
{% for image in image_files %}
  {% if image.name contains prefix %}
    <li class="gallery__item is16by9">
      <a href="{{ site.baseurl }}{{ image.path | replace: "small", "large" }}" title="{{ image.name }}">
        <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}" />
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

</div>