<section class="section">

<h2 id="lage">Lage</h2>

<p>Das Haus liegt in einem Vorort <a class="extern" href="https://www.stadt-bergneustadt.de/">Bergneustadt</a>, knappe 20 Fahrminuten von Gummersbach, 50 Fahrminuten von Köln und 60 Fahrminuten von Dortmund entfernt. Das Haus liegt in einem recht alten Wohngebiet. In den Ort sind 10 Minuten zu Fuß oder 4 Minuten mit dem Skateboard. Zurück dauert es länger, denn es geht bergauf. Im Ort finden sich Geschäfte für die Dinge des täglichen Bedarfs und Mehr. </p>

</section>